.edit-area {
    width: 30%;
    margin: 14% auto;
    padding: 5%;
}

.d1-area {
    margin-top: 20px;
    margin-right: -30px;
    margin-left: 33px;
}

.d2-area {
    margin-right: -30px;
    margin-left: 33px;
}